body {
    margin : 0;
    padding: 0;
}

#logo {
    justify-content: flex-start;
    justify-items  : center;
    align-items    : center;
    margin         : 10px 10px 10px 10px;
    padding-top    : 0px;
}

#navbar a {
    text-decoration: none;
    color          : white;
}

#navbar {
    display         : flex;
    flex-direction  : row;
    color           : white;
    background-color: rgba(3, 24, 46, 255);
}

.nav-icon {
    fill  : white;
    width : 15px;
    height: 15px;
}

#profile-item{
    display: none;
}

#top-l {
    display       : flex;
    flex-direction: row;
    width         : 80%;
}

#top-r {
    display        : flex;
    justify-content: flex-end;
    width          : 20%;
}

nav ul {
    display        : flex;
    flex-direction : row;
    list-style-type: none;
    justify-content: space-between;
}

ul li {
    margin-right: 30px;
}

#top-r {
    display        : flex;
    justify-content: flex-end;
    margin         : 10px 10px;
}

.subscribe {
    border-radius   : 10px;
    background-color: rgba(167, 22, 0, 255);
    color           : white;
    margin-right    : 20px;
}

label {
    margin: 5px 10px auto 0px;
}

select {
    background-color: transparent;
    color           : white;
}

#page {
    background-color: white;
    border-left     : solid 1px rgba(238, 238, 238, 255);
    padding-left    : 10 px;
    margin-left     : 20px;
    margin-bottom   : 20px;
}

#top-p {
    display       : flex;
    flex-direction: row;
    margin-left   : 0px;
    padding-left  : 0px;
}

#top-p a {
    text-decoration: none;
}

#chemin {
    font-size: 14px;
}

#chemin li {
    margin      : 0 5px auto 0px;
    padding-left: 0%;
}

#art-container {
    display       : flex;
    flex-direction: row;
    border        : 1px solid rgba(238, 238, 238, 255);
    margin-left   : 20px;
    width         : 40%;
}

#art-l {
    margin-left: 20px;
}

#button-art a {
    display        : flex;
    text-decoration: none;
    border-radius  : 10px;
    border-color   : rgba(52, 114, 192, 255);
    border         : #dddddd 1px solid;
    border-radius  : 10px;
    fill           : #13599d;
    text-decoration: none;
    color          : #13599d;
    font-size      : 15px;
    margin-right   : 10px;
    padding        : 10px;
    font-family    : Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#button-art {
    display       : flex;
    flex-direction: row;
    font-family   : Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.no-deco {
    text-decoration: none;
}

.grey-style {
    color     : rgba(178, 192, 198, 255);
    font-style: italic;
    font-size : 12px;
}

h1 {
    font-size  : 25px;
    padding    : 0;
    margin     : 20px 0px 10px 0px;
    font-family: Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h2 {
    font-size  : 20px;
    padding    : 0;
    margin     : 10px 0;
    font-family: Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.credit {
    text-decoration: none;
    display        : flex;
    flex-direction : row;
    font-size      : 12px;
    font-family    : Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


#contenu {
    margin-top  : 20px;
    font-family : Georgia;
    margin-right: 10px;
}

#contenu a {
    text-decoration: none;
}

#contenu #credited {
    text-decoration: underline dotted;
}

#art-l {
    width: 60%;
}

#art-r {
    border        : 1px solid rgba(238, 238, 238, 255);
    width         : 40%;
    margin-top    : 200px;
    margin-right  : 10px;
    display       : flex;
    flex-direction: column;
    margin-bottom : 20px;
    align-items   : center;
    justify-items : center;
    font-family   : Georgia;
}

#art-r img {
    width     : 80%;
    margin-top: 20px;
}

#img-desc {
    font-size    : 12px;
    margin-bottom: 10px;
}

#art-r a {
    text-decoration: none;
}

#sub-img {
    padding       : auto 10px;
    padding-bottom: 10px;
}

#tim-info {
    border-top : 2px solid rgba(238, 238, 238, 255);
    padding-top: 10px;
    font-size  : 12px;
    margin-left: 10px;
}

#related {
    border-radius: 10px;
    background   : transparent;
    margin       : 0px 20px 20px 10px;
}

#related svg {
    width: 3%;
}

.hide-w{
    display: none;
}

@media (max-width : 767px) {

    .hide{
        display: none;
    }

    body {
        margin : 0;
        padding: 0;
        background-color: black;
    }

    #logo {
        justify-content: flex-start;
        justify-items  : center;
        align-items    : center;
        margin         : 10px 10px 10px 10px;
        padding-top    : 0px;
    }



    #navbar a {
        text-decoration: none;
        color          : white;
    }

    #navbar {
        display         : flex;
        flex-direction  : row;
        color           : white;
        background-color: rgba(3, 24, 46, 255);
        margin          : 0px 20%;
    }

    .nav-icon {
        fill  : white;
        width : 15px;
        height: 15px;
    }

    #top-l {
        display       : flex;
        flex-direction: row;
    }

    #top-r {
        display        : flex;
        justify-content: flex-end;
    }

    
    nav ul {
        display        : flex;
        flex-direction : row;
        list-style-type: none;
    }

    #item-browse {
        order: 1; /* Change order as needed */
    }

    #item-browse a{
        display: none;
    }
    
    #item-search {
        order: 2; /* Change order as needed */
    }

    #item-search a{
        display: none;
    }
    
    #item-dictionary {
        order: 2; /* Change order as needed */
        display: none;
    }
    
    #item-quizzes {
        order: 4; /* Change order as needed */
        display: none;
    }
    
    #item-money {
        order: 5; /* Change order as needed */
        display: none;
    }

    #logo{
        order: 3;
    }

    #top-r #profile-item{
        width: 20%;
        order:4;
        background: transparent;
    }

    ul li {
        margin-right: 30px;
    }

    #top-r {
        display        : flex;
        justify-content: flex-end;
        margin         : 10px 10px;
    }

    .log, #top-r label{
        display: none;
    }

    .subscribe {
        border-radius   : 10px;
        background-color: rgba(167, 22, 0, 255);
        color           : white;
        margin-right    : 20px;
        order: 5;
    }

    label {
        margin: 5px 10px auto 0px;
    }

    select {
        background-color: transparent;
        color           : white;
    }

    #list-icon{
        display: flex;
        width: 3%;
        justify-items: flex-end;
    }

    #page {
        background-color: white;
        padding-left    : 10 px;
        margin: 0px 20%;
    }

    #top-p {
        display       : flex;
        flex-direction: row;
        margin-left   : 0px;
        padding-left  : 0px;
    }

    #top-p a {
        text-decoration: none;
    }

    #art-container {
        border: none;
        display       : flex;
        flex-direction: column;
        margin-left   : 20px;
        margin-right: 20px;
        width         : 100%;
    }

    #art-l {
        margin-left: 20px;
    }

    #button-art a{
        display: none;
    }

    #actions-b{
        display        : flex;
        text-decoration: none;
        border-radius  : 10px;
        border-color   : rgba(52, 114, 192, 255);
        border         : #dddddd 1px solid;
        border-radius  : 10px;
        fill           : #13599d;
        text-decoration: none;
        color          : #13599d;
        font-size      : 15px;
        margin-right   : 10px;
        padding        : 10px;
        width: 10%;
        font-family    : Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #button-art {
        display       : flex;
        flex-direction: row;
        font-family   : Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #toc{
        display: block;
        text-decoration: none;
        border-radius: 10px;
        border-color: rgba(238, 238, 238, 255) ;
        background: transparent;
        width: 80%;
        padding: 10px;
    }

    #toc svg{
        width: 5%;
    }

    #toc a{
        text-decoration: none;
    }

    .no-deco {
        text-decoration: none;
    }

    .grey-style {
        color     : rgba(178, 192, 198, 255);
        font-style: italic;
        font-size : 12px;
    }

    #sub-mob{
        display: flex;
        width: 80%;
    }

    #sub-mob a{
        text-decoration: dotted;
    }

    h1 {
        font-size  : 25px;
        padding    : 0;
        margin     : 20px 0px 10px 0px;
        font-family: Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    h2 {
        font-size  : 20px;
        padding    : 0;
        margin     : 10px 0;
        font-family: Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    .credit {
        display: none;
    }


    #contenu {
        margin-top  : 20px;
        font-family : Georgia;
        margin-right: 55px;
    }

    #contenu #credited {
        text-decoration: underline dotted;
    }

    #art-l {
        width: 100%;
    }

    #art-l article:nth-child(1){
        order: 1;
    }

    #art-l article:nth-child(2){
        order: 2;
    }

    #art-r {
        display: none;
    }

    #img-desc {
        font-size    : 12px;
        margin-bottom: 10px;
    }

    #sub-img {
        padding       : auto 10px;
        padding-bottom: 10px;
        
    }

    #im-mob img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    #im-mob{
        border     : solid 1px rgba(238, 238, 238, 255);
        width         : 80%;
        margin-right  : 10px;
        margin-top: 10px;
        display       : flex;
        flex-direction: column;
        margin-bottom : 20px;
        align-items   : center;
        justify-items : center;
        font-family   : Georgia;
        padding-top: 20px;
    }

    #tim-style{
        display: flex;
        flex-direction: column;
        border     : solid 1px rgba(238, 238, 238, 255);
        padding: 10px 10px 10px 20px;
        margin: 10px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }

    #sub-img-res {
        text-align: center;
        margin: auto 10px;
    }

    #sub-img-res a{
        text-decoration: none;
    }

    #desc-resp button{
        border-radius: 10px;
        border: none;
        background-color: beige;
    }

    #desc-resp{
        border-top: solid 1px rgba(238, 238, 238, 255);
        margin: auto 10px;
    }

    #contenu a{
        text-decoration: solid;
    }

    #but-sc{
        display: block;
        border-radius: 10px;
        border: none;
        background-color: beige;
    }
}